numpy==1.23.5
pandas==1.3.5
scipy==1.9.3
pyActigraphy==1.2.2
pyhrv==0.4.1
neurokit2==0.2.7
fastapi==0.110.0
uvicorn==0.29.0
lmfit
statsmodels==0.13.5
git+https://github.com/0todd0000/spm1d.git
pyexcel
plotly
requests
peakutils==1.3.4
lxml
postgrest==0.13.2
supabase==1.0.3
supafunc==0.9.4